ProjectFabric/pl_mtg_sharepoint.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Sharepoint_SourceMetaData",
                "fileName": "sharepoint_metadata.json"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "lh_mtg_bronze_sharepoint",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "c587c5c2-a215-98c1-41b2-18f0c6ff9bf4",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_Sharepoint_Bronze",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup_Sharepoint_Bronze').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "SharePointOnlineListSource",
                  "httpRequestTimeout": "00:05:00",
                  "datasetSettings": {
                    "type": "SharePointOnlineListResource",
                    "typeProperties": {
                      "listName": {
                        "value": "@item().source_listname",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "6631f554-44d8-465a-86fe-7dd1297a1f96"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "ParquetSink",
                  "formatSettings": {
                    "type": "ParquetWriteSettings",
                    "enableVertiParquet": true
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Parquet",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@item().dest_directory",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@item().dest_filename",
                          "type": "Expression"
                        }
                      },
                      "compressionCodec": "snappy"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "lh_mtg_bronze_sharepoint",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "c6ff9bf4-18f0-41b2-98c1-a215c587c5c2",
                          "workspaceId": "97ee70cd-b1e4-4f57-8ba7-fe4a9a117071",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy_Sharepoint_table",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEachSharepoint",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Lookup_Sharepoint_Bronze",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}